{{ define "data" }}

<table class="input">

  <tr class="panel-primary ">
    <th colspan="3" class="repo panel-heading"> <span class="repo-icon glyphicon glyphicon-book"></span> [{{ $.DisplayName }}] </th>
  </tr>  

{{ range $filename, $commitContentHash := .Files }}

  <tr class="panel-info ">
    <th colspan="3" class="file panel panel-heading"> <span class="repo-icon glyphicon glyphicon-file"></span> /{{ $filename }} </th>
  </tr>  
  <tr>
    <td colspan="3" style="padding: 0px">
      <table class="data">
        {{ range $commitID, $contents := $commitContentHash }}

          <tr class="panel-default "> 
            <th colspan="3" class="commit panel-heading">
              <span class="repo-icon glyphicon glyphicon-time"></span>
              {{ $commitID }} 
              <span class="expand">
                <span class="repo-icon glyphicon glyphicon-plus"></span>
                <span class="repo-icon glyphicon glyphicon-minus hidden"></span>
              </span>
            </th> 
          </tr>

          {{ range $i, $entry := $contents }}
            {{ if gt $i 2 }}
              <tr class="hidden {{$commitID}}">
            {{ else }}
              <tr>
            {{ end }}

            {{ range $j, $field := $entry }}
              <td> {{ $field }} </td>
            {{ end }}

            </tr>
          {{ end }}

        {{ end }}
      </table>
    </td>
  </tr>
  {{ end }}
</table>



{{ end }}
