<head>
  <script src="assets/main.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/styles.css">

<body>
  <div id="main">
    <h1> Pachyderm Sandbox {{.title}} </h1>
    <section class="pane copy"></section>
    <section class="pane data"></section>
    <section class="pane code"></section>

