    <h1> Pachyderm Sandbox {{.title}} </h1>
    <section class="pane copy">{{ .copy }}</section>
    <section class="pane data">
      {{ template "data" . }}
    </section>

    <section class="pane code">
    </section>

