{{ define "content" }}

<h1> Pachyderm Sandbox??? {{.title}} </h1>

<div class="errors">

{{ for _, $err := range(errors) }}
  <span> {{ $err }} </span>
{{ end }}

</div>

<form action="/submit">

<div class="main">

<section class="pane copy">
  {{ template "copy" . }}
</section>

<section class="pane data">
  {{ template "data" . }}
</section>

<section class="pane code">
  {{ template "code" . }}
</section>

</div>

<div class="navigation">

  <input type="submit" class="button" value="Next >>"/>

</div>

</form>

{{ end }}
