{{ define "content" }}

<h1> Pachyderm Sandbox 

  <small> {{.title}} </small>
</h1>

{{ $flash_state := "inactive"}}

{{ $len_errors := len .errors }}

{{ if ne $len_errors 0 }}
  {{ $flash_state := "error" }}
<div class="flash {{ $flash_state }}">
{{ end }}

  <div class="message info hidden"> placeholder </div>
  {{ if ne $len_errors 0 }}
  <div class="message error">
  Errors:

  {{ range .errors}}
    <span> {{ . }} </span>
  {{ end }}

  </div>

  {{ end }}

</div>

<div class="status">
  <div class="item hidden"></div>
</div>

<form action="/" method="POST">

<div class="main">

<section class="pane copy">
  {{ template "copy" . }}
</section>

<section class="pane data">
  {{ range .repos }}
    <li> {{ .Repo.Name }} </li>
  {{ end }}


  {{ template "data" . }}
</section>

<section class="pane code">
  {{ template "code" . }}
</section>

</div>

<div class="navigation">

  <input type="submit" class="button" value="Next >>"/>

</div>

</form>

{{ end }}
