/* Header */

nav.navbar-brand {
              height: 60px;
}

a.navbar-brand {
               top: -10px;
               position: relative;
}


/* Panes */

.main {
      padding: 0px 20px;
      width: 100%;
}

.main > section {
  padding: 0px;
}

section .panel-body {
        padding: 0px;
        height: 400px;
        overflow: scroll;
}

section.panel {
      margin-left: 10px;
}

.navigation {
  width: 100%;
  clear: float;
}


.status {
        position: absolute;
        z-index: 1;
        top: 0px;
}

.item {
      border: 1px solid black;
      background: lightblue;
      padding: 5px;
      float: right;
      z-index: 99999;
      opacity: 1.0;
}

.hidden {
        display: none;
}


.flash {
       width: 100%
       min-height: 19px;
}
.flash .message {
       background-color: lightgreen;
       border: 1px solid black;
       border-radius: 5px;
       padding: 10px 20px;
}
.flash .message.error {
             background-color: pink;
}

/* Data Pane */

table {
      width: 100%;
      border-collapse: collapse;
}

table th {
      padding: 4px 2px;
      padding-left: 10px !important;
}

th .expand {
   float: right;
}

table.input th {
            text-align: left;
}

table.data td {
           border-bottom: 1px solid black;
           border-left: 1px solid black;
}

table.data td:first-child {
           border-left: 0px;
}

th.commit {
          font-size: 10pt;
          border-bottom: 1px solid black;
}


/* Content / Steps */

.steps {
       width: 100%;
}

.steps .invisible {
       visibility: hidden;
}

.steps div {
       height: 150px;
       padding: 10px 20px;
       overflow: hidden;
}

.steps .slick-list {
       padding: 0px;
       overflow: hidden;
}


/* buttons */

button.run, .arrows {
            float: right;
}

button.run {
           width: 100px;
}

.right-buttons button {
                   margin-left: 10px;
}

/* Code Styles */

.panel.code {
            z-index: 0;
}

.CodeMirror {
            height: 100%;
}